apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: video-generator
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/preangelleo/video-generation-docker.git'
    targetRevision: HEAD
    path: chart/video-generator
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
