apiVersion: apps/v1
kind: Deployment
metadata:
  name: video-hub-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: node:20-alpine
          workingDir: /app
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: storage
              mountPath: /data
            - name: backend-code
              mountPath: /app
          command: ["sh", "-c"]
          args:
            - npm install && node server.js
      volumes:
        - name: storage
          persistentVolumeClaim:
            claimName: video-hub-pvc
        - name: backend-code
          hostPath:
                 path: /home/ram/video-hub/backend
                  type: Directory
