{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: video-hub-ingress
  labels:
    app: video-hub-ingress
spec:
  rules:
    - host: {{ .Values.ingress.host | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: video-hub-frontend
                port:
                  number: {{ .Values.frontend.port | default 80 }}
{{- end }}
