apiVersion: apps/v1
kind: Deployment
metadata:
  name: video-hub-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: jrottenberg/ffmpeg:4.4-ubuntu
          command: ["sleep","infinity"]
          volumeMounts:
            - name: storage
              mountPath: /data
      volumes:
        - name: storage
          persistentVolumeClaim:
            claimName: video-hub-pvc
